@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: whitesmoke;

  margin-left: auto;
  margin-right: auto;
  color: black;
}


.fieldsetDetail .p-fieldset .p-fieldset-legend {
  background-color: #6366F1;
  border: none;
}

.fieldsetDetail .p-fieldset-legend-text {
  color: white;
}

.fieldsetDetail .p-fieldset-content {
  background-color: rgb(75, 75, 75);
  ;
}


.fieldsetDetail .p-fieldset{
  background: #6366F1 !important;
  border: #6366F1 1px solid;
}